<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand" href="/">
            <img src="/assets2/img/AdminLTELogo.png" width="45px" class="img-fluid" alt="Home Logo">
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="nav-link" href="javascript:void(0)" style="color: white;">
          <i class="bi bi-cart4"></i>
          <span class="navbar-badge badge text-bg-danger">99+</span>
        </a>
      </div>
    </div>
  </div>
</nav>
